<div class="row">
<section id="native-login" class="span5">
  <h1>
    Log In with User Id
  </h1>


   <%= form_tag sessions_path do %>
     <div class="field">
       <%= label_tag :email %>
       <%= text_field_tag :email, params[:email] %>
     </div>

     <div class="field">
       <%= label_tag :password %>
       <%= password_field_tag :password %>
     </div>

     <div class="actions"><%= submit_tag "Log in" %></div>

   <% end  %>

</section>

<section id="facebook-login" class="span5 offset1">
<h1>Log In With Facebook</h1>
  <%= link_to "Facebook Login", "#", :id => "fb-login-link", :class => "btn offset1" %>
</section>
</div>

<div class="row">
  <h1 style="text-align: center;"><%= link_to "Click Here If You Are A Candidate", '/info/for_candidates' %></h1>
</div>


