<%= content_for :middleColumn do %>

<p id="notice"><%= notice %></p>

  <%= link_to "Endorsement for This", endorsement_comment_path(@comment), :method => :post %>

<div id="tabs" class="span-14">

  <ul>
    <li class="span-5"><%= link_to("Info", "#info")%></li>
    <li class="span-4"><%= link_to("Support", "#support")%></li>
       <li class="span-4 last"><%= link_to("Oppose", "#oppose") %></li>
  </ul>

  <div id="info">

    <%= @comment.content %>
  </div>

  <div id="support" class="span-14">
     <% for child in @comment.children do %>


        <% if child.direction == "support" %>




            <div id ="comment" class="span-14 last">

            <% if child != @support.last %>
            <div class="span-4">
              <%= pluralize child.endorsements.count, 'endorsement', 'endorsements' %>
            </div>

            <div class="span-10 last">
            <%= link_to child.title, child %>
            </div>

            <% end %>
           </div>



        <% end %>
     <% end %>
   <br>
   <div class="span-4">
   <%= link_to 'Add a Comment', new_comment_path(:parent_id => @comment.id, :direction => "support") %>
   </div>
  </div>

  <div id="oppose">
       <% for child in @comment.children do %>


        <% if child.direction == "oppose" %>
            <div id ="comment">
                <% if child != @support.last %>
                    <%= link_to child.title, child %>
                    <%= child.content %>
                <% end %>
            </div>

            <div id="commentVotes">
                <%= comment.endorsement.counts %>
            </div>

        <% end %>
     <% end %>

   <%= link_to 'Add a Comment', new_comment_path(:parent_id => @comment.id, :direction => "oppose") %>

  </div>

</div>








<%#= link_to 'Edit', edit_comment_path(@comment) %>
<%#= link_to 'Back', comments_path %>

<% end %>