<% content_for :leftColumn do %>

    <%= image_tag "thomas-jefferson-statue.jpg" %>
<% end %>


<% content_for :middleColumn do %>


<h1>Find Your Precinct</h1>


  <%= form_for @precinct do |f| %>

        <div class="field">
          <%= f.label :county %>
          <%= f.collection_select :county_id, County.order(:name), :id, :name, :prompt => ' Select County' %>
        </div>



        <div class="actions">
        <%= f.label :precinct_id %><br>
        <%= f.grouped_collection_select  :id, County.order(:name), :precincts, :name, :id, :name %>
        <%= f.submit "Select Precinct by Name" %>
        </div>

  <% end %>




<% end %>



<div id="rightColumn" class="span-5 last">
<% content_for :rightColumn do %>
  <%= image_tag "mainstparade.jpg" %>

  <% end %>
</div>