<% content_for :leftColumn do %>
<% end %>


<% content_for :middleColumn do %>


<h1>Select Your Precinct</h1>


  <%= form_for @precinct do |f| %>

        <div class="actions">
        <%= f.label :precinct_id %><br>
        <%= f.collection_select :id, Precinct.order(:name), :id, :name %>
        <%= f.submit "Select Precinct by Name" %>
        </div>

  <% end %>




<% end %>



<div id="rightColumn" class="span-5 last">
<%= link_to 'New Precinct', new_precinct_path %>
</div>