<% content_for :leftColumn do %>

    <p id="notice"><%= notice %></p>

<% end %>



<% content_for :middleColumn do %>


    <h1>Name:
      <%= @precinct.name %>
    <h1>


    <h2>President</h2>
    <% for official in @officials.presidents %>


    <%= link_to official.precinctsShowLink, official %>
    <br>
    <% end %>

    <h2>US Senators</h2>
    <% for official in @officials.usSenate %>
    <%= link_to official.precinctsShowLink, official %>
    <br>
    <% end %>

    <h2>US House</h2>
    <% for official in @officials.usHouse %>
    <%= link_to official.precinctsShowLink, official %>
    <br>
    <% end %>


      <h2>North Carolina House</h2>
    <% for official in @officials.stateHouse %>
    <%= link_to official.precinctsShowLink, official %>
    <br>
    <% end %>



       <h2>North Carolina Senate</h2>
    <% for official in @officials.stateHouse %>
    <%= link_to official.precinctsShowLink, official %>
    <br>
    <% end %>

        <h2>Mayor</h2>

        <h2>Town Hall</h2>



   <% for district in @districts %>
      <%= district.gpe %>
          <%= district.number %>
      <%= district.category %>
          <br>

   <% end %>





<% end %>

<% content_for :rightColumn do %>

    <%= link_to 'Edit', edit_precinct_path(@precinct) %> |
    <%= link_to 'Back', precincts_path %>
<% end %>