<% content_for :leftColumn do %>

    <p id="notice"><%= notice %></p>

<% end %>



<% content_for :middleColumn do %>


    <h1>Name:
      <%= @precinct.name %>
    <h1>


    <h2>Politicians in this Precinct</h2>
    <% for politician in @politicians %>


    <%= link_to politician.precinctsShowLink, politician %>
    <br>
    <% end %>



   <% for district in @districts %>
      <%= district.tier %>
          <%= district.number %>
      <%= district.category %>
          <br>

   <% end %>





<% end %>

<% content_for :rightColumn do %>

    <%= link_to 'Edit', edit_precinct_path(@precinct) %> |
    <%= link_to 'Back', precincts_path %>
<% end %>