
<div id="<%= category.downcase %>">
  <h1><%= category %></h1>
    <!--Conditionally Display best_in_place statement fields or simply print statements -->
    <% @candidate.statements.where(category: category.downcase ).each_with_index do |statement, index| %>
      <%= index+1 %>:

      <% if @candidate.id == session[:candidate_id] %>
        <%=  best_in_place statement, :content, :path => [@candidate, statement], :html_attrs => {:maxlength => 140} %>
      <% else %>
        <%= statement.content %>
      <% end %>
    <br>
    <% end %>
    <br>


    <!--Conditionally Display Text Area for Additional Info -->
    <% if @candidate.has_attribute?(category.downcase) %>
      <section id="category-main-text">
        <%= simple_format(@candidate.send(category.downcase)) %>
      </section>

      <% if @candidate.id == session[:candidate_id] %>
        <%=  form_for @candidate, :remote => true do |f| %>
        <%= f.label "Change Main Text Below" %>
        <%= f.text_area category.downcase, :id => "input-main-text", style: "width: 500px;", rows: 10 %>
        <br>
        <%= f.submit class: "btn btn-submit", value: "Update Main Text" %>
        <% end %>

      <% end %>
    <% end %>

</div>