<div id="hidden_text" style="display: none">

    <div id="news">
      <p class="subtitle">News</p>
    </div>

  <%= render "candidates/show/display_statements", :category => "About" %>

  <%= render "candidates/show/display_statements", :category => "Positions" %>

  <%= render "candidates/show/display_statements", :category => "Goals" %>

  <%= render "candidates/show/display_statements", :category => "Achievements" %>

  <%= render "candidates/show/display_statements", :category => "Written Endorsements" %>

  <%= render "candidates/show/display_statements", :category => "Video Endorsements" %>

</div>