<% if @candidate.blank? %>
	<div class="span10 modal hide fade" id="myModal">
<% else %>
		<section id="left_column" class="span3">

			<h1 id="candidate_name">
				<%= @candidate.firstname %>
			<br>
				<%= @candidate.lastname %>
			</h1>

			<%= display_portrait(@candidate) %>
			<%= render 'candidates/show/navigation' %>

		</section>


		<section id="middle_column" class="span5">
			<section id="display_area" class="span5">

				<h2>Welcome!</h2>

			</section>
		</section>

		<section id="right_column">
			<a href="#" class="modal_close btn btn-primary span1 pull-right">Close</a>
		</section>

	<!--Candidate Information is loaded and hidden at render initiation-->
	<%=  render 'candidates/show/hidden_text' %>

<% end %>

	</div>