   <ul class="nav nav-tabs nav-stacked">
      <li class=""><%= link_to("News","#new", :class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("About Me", "#aboutMe",  :class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("Positions", "#positions",  :class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("Goals", "#goals",:class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("Achievements", "#achievements",  :class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("Written Endorsements", "#written_endorsements",  :class => "display_my_contents_trigger") %></li>
      <li class=""><%= link_to("Video Endorsements", "#video_endorsements",  :class => "display_my_contents_trigger")%></li>
      <li class=" final_li"><%= link_to("Contact", "#contact", :class => "display_my_contents_trigger") %></li>
    </ul>


    <p class="contact_info">Website</p>
    <p class="contact_info">Email</p>

