<%= form_for(@official) do |f| %>

  <% if @official.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@official.errors.count, "error") %> prohibited this Official from being saved:</h2>

      <ul>
      <% @official.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label:firstname %>	
	<%= f.text_field :firstname %>
	
	<%= f.label :lastname %>
	<%= f.text_field :lastname %>

	<%= f.label :contest %>
	<%= collection_select(:race, :race_id, Race.all, :id, :name ) %>

	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<%= f.submit %>

<% end %>

