
<div class="container span-24">


    <% content_for :leftColumn do %>
        <div id="officialPortrait" class="span-5">
          <% if @official.portrait_url %>
              <%= image_tag @official.portrait_url.to_s %>
          <% else %>
              <%= image_tag 'gp-logo-med.png' %>
          <% end %>
        </div>

      <div id="donateButton" class="button span-5">
        Donate
      </div>

      <div id="merchButton" class="button span-5">
        Merchandise
      </div>

      <div id="volunteerButton" class="button span-5">
        Volunteer
      </div>

      <div id="socialMediaButton" class="button span-5">
        Social Media
      </div>

      <div id="socialMediaButton" class="button span-5">
        E-mail
      </div>

    <% end %>




    <% content_for :middleColumn do %>

        <h1 id="officialName" class="span-14 last">
          <%= @official.firstname %>
          <%= @official.lastname %>

        </h1>
      <h2 class="span-4"><%= @official.office %></h2>
      <h3 id="officialSlogan" class="span-10 last">
        <%= @official.campaignSlogan %>
      </h3>



    <%= render :partial => "/answers/answerTabs" %>



    <div id="dialogDonate" title="Thank You For Your Contribution">

      <%= form_tag do %>
      <%= text_field_tag(:q)  %>
      <%= submit_tag "Contribute!", :disabled => :true %>
          <% end %>
    </div>


    <div id="dialogVolunteer" title="Submit Your E-mail Address to Our List">

      <%= form_tag do %>
          <%= text_field_tag(:q)  %>
          <%= submit_tag "Submit!", :disabled => :true %>
      <% end %>
    </div>



    <% end %>

    <% content_for :rightColumn do %>
       <% if notice %><p id="notice"><%= notice %></p><% end %>
    <% end %>

<!--Container Div-->
</div>