<section id="left_column" class="span3">

	<h1 id="candidate_name">
		<%= @official.firstname %>
	<br>
		<%= @official.lastname %>
	</h1>

	<%= raw(facebook_like_button(@official)) %>
	<%= display_portrait(@official) %>
	<%= render 'officials/show/navigation' %>

</section>


<section id="middle_column" class="span7">

	<section id="display_area" class="span7">
		<h2>Welcome!</h2>
	</section>

</section>


<section id="right_column" class="span2">
</section>


<!--Hidden Text-->
<%=  render 'officials/show/hidden_text' %>



