


<% content_for :middleColumn do %>
<div id="candidate_show_container" class="span-26">


  <div id="left_column" class="span-8 last">
    <p class="modal_candidate_name prepend-1">
      <%= @official.firstname %>
      <br>
      <%= @official.lastname %>
    </p>

  <div id="facebook_box" class="span-7 prepend-1">
    <div class="fb-like" data-href="<%= official_url(@official) %>" data-send="false"
         data-width="150" data-show-faces="true" data-font="trebuchet ms"></div>
  </div>

    <div class="modal_candidate_portrait prepend-1">
      <% if @official.portrait_url %>
          <%= image_tag @official.portrait_url.to_s %>
      <% else %>
          <%= image_tag 'missing_portrait.png' %>
      <% end %>
    </div>

    <ul class="prepend-1">
      <li class="span-6"><%= link_to("News", "#news", :class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("About Me", "#aboutMe",  :class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("Positions", "#positions",  :class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("Goals", "#goals",:class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("Achievements", "#achievements",  :class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("Written Endorsements", "#written_endorsements",  :class => "modal_content_trigger") %></li>
      <li class="span-6"><%= link_to("Video Endorsements", "#video_endorsements",  :class => "modal_content_trigger")%></li>
      <li class="span-6 final_li"><%= link_to("Contact", "#contact", :class => "modal_content_trigger") %></li>
    </ul>


    <p class="contact_info prepend-1 span-7">Website</p>
    <p class="contact_info prepend-1 span-7">Email</p>



  </div>


  <div id="middle_column" class="span-12 last">



    <div id="modal_active_window" class="span-12 last">
      <p class="subtitle">Welcome!</p>
    </div>
    <div id="div_for_right_line" class="span-12">

    </div>



  </div>



  <div id="right_column" class="span-8 last">



  </div>



  <h3 id="officialSlogan" class="span-8 last">
    <%= @official.campaignSlogan %>
  </h3>






  <!--MIDDLE COLUMN NAV BAR-->

  <div id="hide_it_all" style="display: none">
    <div id="news">
      <p class="subtitle">News</p>
      <% if current_official %>
          <!--Eventually this line needs to verify which official is signed in-->
          <%=  form_for Comment.new do |f| %>
              <%= f.label "New Post" %>
              <%= f.text_field :content %>
              <%= f.hidden_field :authorable_id, :value => current_official.id %>
              <%= f.hidden_field :authorable_type, :value => "Official" %>
              <%=  f.submit :post %>

          <% end %>

      <% end %>

      <% for update in @updates %>

          <div class="newsPost">
            <%= update.content %>  <br>
            Posted at: <%= l update.created_at, :format => :short %>
          </div>

      <% end %>

    </div>

    <div id="aboutMe">
      <p class="subtitle">About Me</p>
      <p><%= @official.aboutMe %></p>
    </div>


    <div id="positions">
      <p class="subtitle">Positions</p>
      <p><%= @official.positions %></p>
    </div>

    <div id="goals">
      <p class="subtitle">Goals</p>
      <p><%= @official.goals %></p>
    </div>

    <div id="achievements">
      <p class="subtitle">Achievements</p>
      <p><%= @official.achievements %></p>
    </div>

    <div id="written_endorsements">
      <p class="subtitle">Written Endorsements</p>
      <p>Written Endorsements Go Here</p>
    </div>

    <div id="video_endorsements">
      <p class="subtitle">Video Endorsements</p>
      <p>Videos Go Here</p>
    </div>



  </div>

  <div id="dialogDonate" title="Thank You For Your Contribution">

    <%= form_tag do %>
        <%= text_field_tag(:q)  %>
        <%= submit_tag "Contribute!", :disabled => :true %>
    <% end %>
  </div>


  <div id="dialogVolunteer" title="Submit Your E-mail Address to Our List">

    <%= form_tag do %>
        <%= text_field_tag(:q)  %>
        <%= submit_tag "Submit!", :disabled => :true %>
    <% end %>
  </div>
</div>

</div>

<% end %>