<div id="candidate_column" class="span3" style="width: 240px">

<h2><%= link_to candidate_column.full_name, candidate_column, :remote => "true" %></h2>

<%= raw(facebook_like_button(candidate_column)) %>

<div class="center" style="text-align: center;">
<%= is_in_booth(candidate_column.id) %>
</div>

<div class="candidate_portrait" style="text-align: center;">
  <% if candidate_column.portrait_url %>
      <%= image_tag candidate_column.portrait_url.to_s %>
  <% else %>
      <%= image_tag 'missing_portrait.png' %>
  <% end %>
</div>

<div class="candidate_goals">
  <p class="subheading">
    Goals
  </p>

</div>

<div class="candidate_about">
  <p class="subheading">
    About
  </p>
</div>



<div class="candidate_contact">
  <p class="subheading">Contact</p>
  <p>E-mail Address: <%= candidate_column.email %></p>
</div>


</div>