<% content_for :leftColumn do %>

        <% for race in @races %>
            <div class="span-6"><%= link_to race.name, race %></div>
        <% end %>


<% end %>


<% content_for :middleColumn do %>



    <h1 class="center"><%= @race.name %></h1>

          <div class="span-2 navButton">

               <%= link_to "<", params.merge(page: @candidates.previous_page) %>

          </div>

          <% for candidate in @candidates %>

                <% if candidate == @candidates.last %>
                    <div class="span-5 candidate last">
                <% else %>
                    <div class="span-5 candidate">
                <% end %>
 
 
               <h3 class="center"> <%= candidate.firstname %>
                  <%= candidate.lastname %> </h3>
                  <h5 class="center">Email Address: <%= candidate.email %></h5>
                  <h5>Website: </h5>


                  <div class="span-5 center">
                    <% if candidate.portrait_url %>
                        <%= image_tag candidate.portrait_url.to_s %>
                    <% else %>
                        <%= image_tag 'gp1.png' %>
                    <% end %>
                  </div>

                  <h2 class="center">
                  Goals
                  </h2>
                  
                  <% for goal in candidate.short_goals %> 
                  <%=  goal.content %>
                      <br>
                  <% end %>

                  <h2 class="center">
                    Acheievements
                  </h2>

                  <% for goal in candidate.short_achievements %>
                      <%=  goal.content %>
                      <br>
                  <% end %>



                </div>



          <% end %>



    <div class="span-2 navButton last">
      <% if @candidates.next_page %>
          <%= link_to ">", params.merge(page: @candidates.next_page) %>
      <% end %>
    </div>

<% end %>
