<%= render 'contests_show_header' %>

<div id="compare" class="row">


	<div id="compare_left_arrow" class="span1">
		<% if @candidates.previous_page %>
		<%= link_to image_tag("arrow-left.png"), params.merge(page: @candidates.previous_page) %>
		<% end %>
	</div>

	<%= render :partial => 'candidates/column/candidate', :collection => @candidates %>

	<div id="compare_right_arrow" class="span1">
		<% if @candidates.next_page %>
      <%= link_to image_tag("arrow-right.png"), params.merge(page: @candidates.next_page) %>
		<% end %>
	</div>

</div>


<%= render 'candidates/show/modal' %>

