<% content_for :leftColumn do %>

        <% for race in @races %>
            <div class="span-6 padding-left-20"><%= link_to race.name, race %></div>
        <% end %>


<% end %>


<% content_for :middleColumn do %>



    <h1 class="center"><%= @race.name %></h1>

          <div class="span-2 navButton">

               <%= link_to "<", params.merge(page: @candidates.previous_page) %>

          </div>


          <% for candidate in @candidates %>

                <% if candidate == @candidates.last %>
                    <div class="span-5 candidate last">
                <% else %>
                    <div class="span-5 candidate">
                <% end %>

 
               <h3 class="center"> <%= candidate.firstname %>
                  <%= candidate.lastname %> </h3>
                  <h5 >Email Address: <%= candidate.email %></h5>
                  <h5>Website: www.DurhamVotes.org</h5>


                  <div class="span-5 center">
                    <% if candidate.portrait_url %>
                        <%= image_tag candidate.portrait_url.to_s %>
                    <% else %>
                        <%= image_tag 'gp1.png' %>
                    <% end %>
                  </div>



        <h2 class="center">
          Goals
        </h2>

        <% myCounter = 0 %>
          <% if candidate.short_goals.count == 3 %>
            <% for goal in candidate.short_goals %>
                <% myCounter += 1 %>
                <%=  myCounter.to_s + ".  " + goal.content %>
                <br>
            <% end %>
        <% else %>
            1.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse.
            <br>
            2.  Praesent volutpat mi in massa placerat eget lacinia felis mattis.
            <br>
            3.  Morbi quis nibh purus, eu tincidunt mi. Integer tortor purus, interdum
            <br>
        <% end %>

        <h2 class="center">
          Achievements
        </h2>

        <% myCounter = 0 %>
        <% if candidate.short_goals.count == 3 %>
            <% for goal in candidate.short_achievements %>
                <% myCounter += 1 %>
                <%=  myCounter.to_s + ".  " + goal.content %>
                <br>
            <% end %>
        <% else %>
            1.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse.
            <br>
            2.  Praesent volutpat mi in massa placerat eget lacinia felis mattis.
            <br>
            3.  Morbi quis nibh purus, eu tincidunt mi. Integer tortor purus, interdum
            <br>
        <% end %>



        </div>







    <% end %>



    <div class="span-2 navButton last">
      <% if @candidates.next_page %>
          <%= link_to ">", params.merge(page: @candidates.next_page) %>
      <% end %>
    </div>

<% end %>
