<div class="row">
  <%#= render "voting_gadget" %>
  
</div>

<div class="row">
  <h1 class="span4"><%= @user.name + "'s " if @user %>Elevote Booth</h1>

  <% if current_user %>
    <section id="facebook-like" class="span4" >
        <%= render "layouts/facebook_like", :target => current_user %>
    </section>


    <section id="user-info" class="span4 pull-right">
    <%=  current_user.name %>
    <%= image_tag(current_user.image_url) %>
    </section>
  <% end %>
</div>

<%= render 'candidates/booth/candidates_in_booth' %>
<%= render 'candidates/show/modal' %>

