<div id="tabs" class="span-14">
         <ul>
           <li ><%= link_to("Positions", "#primaryQuestions") %></li>
           <li><%= link_to("Goals", "#officeQuestions") %></li>
           <li><%= link_to("Pictures", "#pictures") %></li>
           <li><%= link_to("FAQ", "#frequentlyAskedQuestions") %></li>
           <li><%= link_to("About Me", "#frequentlyAskedQuestions") %></li>
         </ul>

         <div id="primaryQuestions" class="questionsPanel span-14 last">
             <% for answer in @official.answers do %>

             <div class="officialQuestion span-14 last">
                <h3 ><%= answer.question.name %></h3>
             </div>

             <div class="officialAnswer span-14 last">
               <%= answer.name %>
             </div>
        <% end %>
         </div>

        <div id="officeQuestions" class="span-14">

        </div>

       <div id="pictures" class="span-14">

         <h3>Politician Photos</h3>
         <%= image_tag @official.portrait_url.to_s %>
         <%= image_tag @official.portrait_url.to_s %>




        </div>
       <div id="frequentlyAskedQuestions" class="span-14">
           <h2>What is the air speed velocity of an unlaiden swallow?</h2>
        </div>

    </div> <!-- end tabs -->