<div id="tabs" class="span-14">
         <ul>
           <li><%= link_to("About Me", "#aboutMe") %></li>
           <li><%= link_to("Positions", "#positions") %></li>
           <li><%= link_to("Goals", "#goals") %></li>
           <li><%= link_to("Official Comments", "#electedOfficialComments") %></li>
           <li><%= link_to("Public Comments", "#publicComments") %></li>
         </ul>

  <div id="aboutMe" class="span-14">
  </div>
         <div id="positions" class="questionsPanel span-14 last">


           <% for answer in @official.answers do %>
             <% if answer.question %>
             <div class="officialQuestion span-14 last">
                <h3 ><%= answer.question.name %></h3>
             </div>

             <div class="officialAnswer span-14 last">
               <%= answer.name %>
             </div>
             <% end %>
           <% end %>

         </div>

        <div id="goals" class="span-14">
              <ul>
                <li>More Jobs</li>
                <li>More Services</li>
                <li>Less Spending</li>
              </ul>
        </div>


    <div id="electedOfficialComments" class="questionsPanel span-14 last">

    <% for comment in @official.comments do %>
                <div id ="comment">
                    <% if comment.id %>
                        <%= link_to comment.content, legislation_comment_path(@official) %>
                    <% end %>
                </div>
    <% end %>

    <% if current_official %>
    <%= form_for [@official, @comment] do |c| %>
         <%= c.label :content %>
         <%= c.text_field :content %>
         <%= c.submit  %>
    <% end %>
    <% end %>


  </div>

    <div id="publicComments" class="span-14">
         <fb:comments href="<%= current_url %>" num_posts="10" width="550"></fb:comments>
    </div>




    </div> <!-- end tabs -->