<div id="tabs" class="span-14">
         <ul>
           <li ><%= link_to("Primary Questions", "#primaryQuestions") %></li>
           <li><%= link_to("Office Questions", "#officeQuestions") %></li>
           <li><%= link_to("Values Questions", "#valuesQuestions") %></li>
           <li><%= link_to("Other Questions", "#otherQuestions") %></li>
         </ul>

         <div id="primaryQuestions" class="questionsPanel span-14 last">
             <% for answer in @official.answers do %>

             <div class="officialQuestion span-14 last">
                <h3 ><%= answer.question.name %></h3>
             </div>

             <div class="officialAnswer span-14 last">
               <%= answer.name %>
             </div>
        <% end %>
         </div>

        <div id="officeQuestions" class="span-14">

        </div>

       <div id="valuesQuestions" class="span-14">

        </div>
       <div id="otherQuestions" class="span-14">

        </div>

    </div> <!-- end tabs -->