<% content_for :middleColumn do %>
<h1>Listing legislations</h1>


<% @legislations.each do |legislation| %>
  <tr>
    <td><%= legislation.name %></td>
    <td><%= legislation.content %></td>
    <td><%= link_to 'Show', legislation %></td>
    <td><%= link_to 'Edit', edit_legislation_path(legislation) %></td>
    <td><%= link_to 'Destroy', legislation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

<%= link_to 'New Legislation', new_legislation_path %>

<% end %>