<% content_for :leftColumn do %>

    <h1>Support</h1>

    <% if current_official %>
        <% unless current_official.opinions.exists?(:legislation_id => @legislation.id) %>
            <%= form_for (Opinion.new) do |f| %>
               <%= f.hidden_field :status, :value => "support"  %>
               <%= f.hidden_field :official_id, :value => current_official.id %>
               <%= f.hidden_field :legislation_id, :value => @legislation.id %>
               <%= f.submit "Support This Legislation"  %>
            <% end %>
        <% end %>
    <% end %>

    <div class="officialOpinion span-3">
        <% for opinion in @legislation.opinions.support %>
            <div class="officialOpinionThumb span-2"><%= link_to officials_full_name(Official.find_by_id(opinion.official_id)), Official.find_by_id(opinion.official_id) %></div>
        <% end %>
    </div>
<% end %>




<% content_for :middleColumn do %>

         <h1><%= @legislation.name %></h1>
           <br>
    <div id="tabs" class="span-14">
         <ul>
           <li><%= link_to("Legislation Info", "#legislationInfo")%></li>
           <li><%= link_to("Public Discussion", "#publicDiscussion") %></li>
           <li><%= link_to("Elected Official Discussion", "#electedOfficialDiscussion") %></li>
         </ul>

        <div id="legislationInfo" class="questionsPanel span-14 last">
            <%= @legislation.content %>
        </div>

        <div id="publicDiscussion" class="questionsPanel span-14 last">
             <fb:comments href="<%= current_url %>" num_posts="10" width="550"></fb:comments>
        </div>

        <div id="electedOfficialDiscussion" class="questionsPanel span-14 last">
            <% for comment in @legislation.comments do %>
                <div id ="comment">
                  <roll></roll>
                    <% if comment.id %>
                        <%= link_to comment.content, legislation_comment_path(@legislation) %>
                    <% end %>
                </div>
            <% end %>

            <% if current_official %>
                <%= form_for [@legislation, @comment] do |c| %>
                    <%= c.label :content %>
                        <%= c.text_field :content %>
                    <%= c.submit  %>
                <% end %>
            <% end %>

        </div>

    </div> <!-- end tabs -->
<% end %>



<% content_for :rightColumn do %>
    <h1>Oppose</h1>



    <% if current_official %>

    <% unless current_official.opinions.exists?(:legislation_id => @legislation.id) %>
        <%= form_for (Opinion.new) do |f| %>
           <%= f.hidden_field :status, :value => "oppose"  %>
           <%= f.hidden_field :official_id, :value => current_official.id %>
           <%= f.hidden_field :legislation_id, :value => @legislation.id %>
           <%= f.submit "Oppose This Legislation"  %>
        <% end %>
    <% end %>

    <% end %>

    <div class="officialOpinion span-3">
        <% for opinion in @legislation.opinions.oppose %>
              <div class="officialOpinionThumb span-2"><%= Official.find_by_id(opinion.official_id).firstname %></div>
        <% end %>
    </div>
<% end %>