<% content_for :leftColumn do %>

    <h1>Official Endorsements</h1>

    <% if current_official %>
        <% unless current_official.given_endorsements.exists?(:endorsementable_type => "Legislation",
                                                        :endorsementable_id => @legislation.id) %>
            <%= form_for (Endorsement.new) do |f| %>

               <%= f.hidden_field :endorsementer_id, :value => current_official.id %>
                <%= f.hidden_field :endorsementer_type, :value => "Official" %>

                <%= f.hidden_field :endorsementable_id, :value => @legislation.id %>
                <%= f.hidden_field :endorsementable_type, :value => "Legislation" %>

               <%= f.submit "Support This Outcome"  %>
            <% end %>
        <% end %>
    <% end %>

    <div class="officialOpinion span-3">
        <% for endorsement in @legislation.endorsements.where(:endorsementer_type => "Official") %>
          <div class="officialOpinionThumb span-2"><%= link_to officials_full_name(Official.find_by_id(endorsement.endorsementer_id)), Official.find_by_id(endorsement.endorsementer_id) %></div>
        <% end %>
    </div>
    
    <h1>Group Endorsements</h1>
    <h1>Constituent Endorsements</h1>
    <%= @legislation.endorsements.where(:endorsementer_type == "Constituent").count %>
<% end %>




<% content_for :middleColumn do %>

         <h1><%= @legislation.name %></h1>
        <%= link_to "Endorsement for This", endorse_legislation_path(@legislation), :method => :post %>

           <br>
    <div id="tabs" class="span-14">
         <ul>
           <li><%= link_to("Legislation Info", "#legislationInfo")%></li>
           <li><%= link_to("Support", "#support") %></li>
           <li><%= link_to("Oppose", "#oppose") %></li>
         </ul>

        <div id="legislationInfo" class="questionsPanel span-14 last">
            <%= @legislation.content %>
        </div>

        <div id="support" class="questionsPanel span-14 last">
            <% for comment in @legislation.comments do %>

                <% if comment.direction == "support" %>

                     <div id="commentVotes" class="span-4">
                         <%= pluralize comment.endorsements.count, 'endorsement', 'endorsements' %>
                    </div>

                  <div id ="comment" class="span-10 last">
                        <% if comment.id %>
                            <%= link_to comment.content, comment %>
                        <% end %>
                    </div>


                <% end %>
            <% end %>



            <%= link_to 'New Comment', new_legislation_comment_path(@legislation, :direction => "support") %>
        </div>

        <div id="oppose" class="questionsPanel span-14 last">


        <% for comment in @legislation.comments do %>
            <% if comment.direction == "oppose" %>
                <div id="commentVotes" class="span-4">
                    <%= pluralize comment.votes.count, 'vote', 'endorsements' %>
                </div>

                <div id ="comment" class="span-10 last">
                    <% if comment.id %>
                        <%= link_to comment.content, comment %>
                    <% end %>
                </div>
            <% end %>
        <% end %>

        <%= link_to 'New Comment', new_legislation_comment_path(@legislation, :direction => "support") %>

        </div>

    </div> <!-- end tabs -->
<% end %>



<% content_for :rightColumn do %>

<% end %>