<p id="notice"><%= notice %></p>



<% @officials.each do |official| %>
<p><%=  official.firstname + " " + official.lastname%></p>
<% end %>


<%= link_to 'Add official', officials_path %>

<%= link_to 'Edit', edit_district_path(@district) %>
<%= link_to 'Back', districts_path %>
