<%= form_for(@politician) do |f| %>
  <% if @politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% @politician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>

  <div class="select">
    <%= f.label :office %>
    <%= f.collection_select :office_id, Office.order(:name), :id, :name %>
  </div>

  <div class="select">
    <%= f.label :district %>
    <%= f.collection_select :district_id, District.order(:number), :id, :all_togethor %>
  </div>

    <div class="submit">
      <%= f.label :submit %>
      <%= f.submit "Create New Politician" %>
    </div>

 <% end %>
