
<div class="container span-24">


    <% content_for :leftColumn do %>
        <div id="politicianPortrait" class="span-5">
          <%= image_tag "JimmyCropped.jpg" %>
        </div>

      <div id="donateButton" class="button span-3 push-1">
        Donate
      </div>

      <div id="volunteerButton" class="button span-3 push-1">
        Volunteer
      </div>

      <div id="socialMediaButton" class="button span-3 push-1">
        Social Media
      </div>

      <div id="socialMediaButton" class="button span-3 push-1">
        E-mail
      </div>

    <% end %>




    <% content_for :middleColumn do %>

        <h1 id="politicianName" class="span-14 last">
          <%= @politician.firstname %>
          <%= @politician.lastname %>

        </h1>

      <h3 id="politicianSlogan" class="span-14 last">
        "The Rent Is Too Damn High"
      </h3>



     <% for answer in @politician.answers do %>

     <div class="politicianQuestion span-14">
        <h3><%= answer.question.name %></h3>
     </div>

     <div class="politicianAnswer span-14">
       <%= answer.name %>
     </div>



      <% end %>





    <% end %>

    <% content_for :rightColumn do %>
       <% if notice %><p id="notice"><%= notice %></p><% end %>

        <%= link_to 'Answer Questions', edit_politician_path(@politician) %> <br>
        <%= link_to 'Back', politicians_path %>
    <% end %>

<!--Container Div-->
</div>