
<div class="container span-24">


    <div id="leftColumn" class="span-5">
        <div id="politicianPortrait" class="span-5">
          Portrait
        </div>
    </div>


      <!--Middle Column-->

    <div id="middleColumn" class="span-14">

        <h1 id="politicianName" class="span-14">
          <%= @politician.firstname %>
          <%= @politician.lastname %>

        </h1>


        <p>
          <b>Office:</b>
          <% if @politician.office %> <%= @politician.office.name %><% end  %>
        </p>

        <% for question in @politician.questions %>
            <p><%= question.name %></p>
            <p><%= find_answer(question,@politician) %>
        <% end %>

        <% for question in @politician.office_questions %>
            <p><%= question.name %></p>
            <p><%= find_answer(question,@politician) %>
        <% end %>

    </div>

    <div id="rightColumn" class="span-5 last">
       <% if notice %><p id="notice"><%= notice %></p><% end %>

        <%= link_to 'Edit', edit_politician_path(@politician) %> <br>
        <%= link_to 'Back', politicians_path %>
    </div>

<!--Container Div-->
</div>