
<div class="container span-24">


    <% content_for :leftColumn do %>
        <div id="politicianPortrait" class="span-5">
          <%= image_tag @politician.portrait_url.to_s %>
        </div>

      <div id="donateButton" class="button span-3 push-1">
        Donate
      </div>

      <div id="volunteerButton" class="button span-3 push-1">
        Volunteer
      </div>

      <div id="socialMediaButton" class="button span-3 push-1">
        Social Media
      </div>

      <div id="socialMediaButton" class="button span-3 push-1">
        E-mail
      </div>

    <% end %>




    <% content_for :middleColumn do %>

        <h1 id="politicianName" class="span-14 last">
          <%= @politician.firstname %>
          <%= @politician.lastname %>

        </h1>

      <h3 id="politicianSlogan" class="span-14 last">
        "The Rent Is Too Damn High"
      </h3>



    <%= render :partial => "/answers/answerTabs" %>



    <div id="dialogDonate" title="Thank You For Your Contribution">

      <%= form_tag do %>
      <%= text_field_tag(:q)  %>
      <%= submit_tag "Contribute!", :disabled => :true %>
          <% end %>
    </div>


    <div id="dialogVolunteer" title="Submit Your E-mail Address to Our List">

      <%= form_tag do %>
          <%= text_field_tag(:q)  %>
          <%= submit_tag "Submit!", :disabled => :true %>
      <% end %>
    </div>



    <% end %>

    <% content_for :rightColumn do %>
       <% if notice %><p id="notice"><%= notice %></p><% end %>

        <%= link_to 'Answer Questions', edit_politician_path(@politician) %> <br>
        <%= link_to 'Back', politicians_path %>
    <% end %>

<!--Container Div-->
</div>