<header id="main-layout">
  <div class="container">
    <div class="row">
        <%= render "layouts/banner" %>

        <% if current_candidate %>
          <section id="user-info" class="span4 offset4">
            <h5><%= candidate_full_name(current_candidate) %></h5>
            <h5><%= link_to "My Profile", current_candidate %></h5>
            <h5><%= link_to "Sign Out", '/signout' %></h5>
          </section>
          
        <% else %>
          <section id="user-info" class="span4">
            <h3><%= display_user_name(current_user) %></h3>
            <h2><%= link_to "My Booth", '/booth' %><%= link_to image_tag("voting-booth-button.png", :size => "45x45", :style => "margin-left: 20px;"), '/booth' %></h2>
            <h5><%= link_to "Sign Out", "/signout" if current_user %></h5>
          </section>
        <% end %>
    </div>
  </div>

</header>

