<header id="main-layout">
  <div class="container">
    <div class="row">

        <div id="header_image" class="span4">
            <%= link_to image_tag("logo.png"), races_path %>
        </div>

        <% if current_candidate %>
          <section id="user-info" class="span4 offset4">
            <h5><%= candidate_full_name(current_candidate) %></h5>
            <h5><%= link_to "My Profile", current_candidate %></h5>
            <h5><%= link_to "Sign Out", '/signout' %></h5>
          </section>
          
        <% else %>
          <section id="user-info" class="span4 offset4">
            <h5><%= display_user_name(current_user) %></h5>
            <h5><%= link_to "My Booth", '/booth' %></h5>
            <h5><%= link_to "Sign Out", "/signout" if current_user %></h5>
          </section>
        <% end %>
    </div>
  </div>

</header>

