<!DOCTYPE html>
<% if @official == nil %>
    <html>
<% else %>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="http://www.facebook.com/2008/fbml">
<% end %>


<head>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>





  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28536861-2']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>


  <div id="fb-root">
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=205528859544975";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>


  
  
  
  
  <% if @official == nil %>
  <% else %>
     
   
        <title><%= @official.firstname + " " + @official.lastname %></title>

        <meta property="og:title" content='<%= @official.firstname + " " + @official.lastname %>'  />
        <meta property="og:type" content="Candidate"/>
        <meta property="og:url" content='<%= official_path(@official)%>'   />
        <meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
        <meta property="og:site_name" content="Durham Votes"/>
        <meta property="fb:admins" content="USER_ID"/>
        <meta property="og:description"
              content="A candidate running for election."/>

   <% end %>
  
  
  
  
  
  
  

</head>
<body id="bodycss">





<div class="container">


  <div id="header"  class="span-29">
    <div id="logoImage" class="span-22"> <%= link_to image_tag("durhamlogoNOCITYLOGO.png"), root_url %>

      


    </div>



    <br>
    <% if @race.nil? %>

        <div class="fb-like" style="float:right;" data-href="http://www.durhamvotes.org" data-send="false" data-width="150"
             data-show-faces="true" data-font="trebuchet ms" data-colorscheme="dark"></div>

    <% else %>
    <div class="attention_button printbutton">
      <%= link_to "Printable Version", race_path(@race, format: "pdf") %>
    </div>
    <% end %>
  
  </div>



  <div id="leftColumn" class="span-29">

    <div id="main_navigation" style="float: left;">

      <ul class="menu" style= "">
        <li id="top_level_Contests" class="attention_button">
          <%= link_to "Electoral Contests", Race.first, :onmouseover => "showlayer('sm_1')", :style => "color: white; " %>
          <ul class="submenu" id="sm_1" >
            <% for race in Race.all %>
                <li><%= link_to race.name, race %></li>
            <% end %>
          </ul>
        </li>


        <li id="For Citizens">
          <%= link_to "Info for Citizens",'/info/for_citizens', :onmouseover => "showlayer('sm_2')" %>
          <ul class="submenu" id="sm_2" >

          </ul>


        </li>


        <li id="For Candidates">
          <%= link_to "Info for Candidates",'/info/for_candidates', :onmouseover => "showlayer('sm_3')" %>
          <ul class="submenu" id="sm_3" >

          </ul>
        </li>


      </ul>

    </div>
    
    <div style="float:right; font-size: 16px; text-align: center;"> Sign-up To Receive A Final E-mail Report <br> One Week Before The Elections!
        <%= form_for UserEmail.new do |f| %>
        <%= f.text_field :email, :value => "Enter Email and Submit!" %>
        <%= f.submit "Submit" %>
        <% end %>
    </div>
    
    
  </div>


    <div id="middleColumn" class="span-29">
        <%= yield :middleColumn%>
    </div>

      <!--<div id="rightColumn" class="span-5 last">-->
            <!--<#%= yield :rightColumn %>-->
      <!--</div>-->


    <div id="footer" class="span-29">
      <a style="padding-left: 20px;" rel="license"
         href="http://creativecommons.org/licenses/by-nc/3.0/"><img
      alt="Creative Commons License" style="border-width:0"
      src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a><br
      />This work is licensed under a <a rel="license"
                                       href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons
      Attribution-NonCommercial 3.0 Unported License</a>.

      General Politics, LLC.  2012.
    
    
    </div>


</div> <!--  container -->



</body>
</html>
