<!DOCTYPE html>
<html>
<head>
  <title>Durham Votes!</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bodycss">


<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=205528859544975";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="container">


  <div id="header"  class="span-29">
    <div id="logoImage" class="span-25"> <%= image_tag "durhamlogo.png"%> </div>


    <div class="headerbutton">
      <%= link_to "Home", root_url %>
    </div>

    <div class="headerbutton">
      <%= link_to "Info for Candidates",'/info/forcandidates' %>
    </div>

    <div class="fb-like headerbutton" data-href="http://www.durhamvotes.org" data-send="true" data-layout="button_count"
         data-width="10000" data-show-faces="true" data-font="segoe ui"></div>
  
  </div>



  <div id="leftColumn" class="span-29">
      <%= yield :leftColumn %>
  </div>


    <div id="middleColumn" class="span-29">
        <%= yield :middleColumn%>
    </div>

      <!--<div id="rightColumn" class="span-5 last">-->
            <!--<#%= yield :rightColumn %>-->
      <!--</div>-->


    <div id="footer" class="span-29">
      Copyright General Politics, LLC.  2012.
    </div>


</div> <!--  container -->



</body>
</html>
