<!DOCTYPE html>
<html>
<head>
  <title>Elevote</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bodycss">





<div class="container">


<div id="header" class="span-24">
<div id="headerLogo" class="span-6">
  <%= image_tag "gp1.png" %>
</div>


<% if current_politician %>
  <div id="Politician Sign-out Button" class="push-11 span-6 button last">
    <%= link_to "Sign-out", signout_path %>
  </div>
<% end %>


<% if current_politician.nil? %>
<div id="Politician Log-in  Button" class="push-5 span-6 button">
  <%= link_to "Politician Log-in", new_session_path %>
</div>
<% end %>



<% if current_politician.nil? %>
<div id="Politician Sign-Up Button" class="push-6 span-6 button last">
  <%= link_to "Politician Sign-up", new_politician_path %>
</div>
<% end %>


</div>


<div id="nav" class="span-24 hide">
Navigation

<%= link_to "Precincts", precincts_path %>

<%= link_to "Politicians", politicians_path %>




</div>


        <div id="leftColumn" class="span-5">
            <%= yield :leftColumn %>
        </div>


        <div id="middleColumn" class="span-14">
            <%= yield :middleColumn%>
        </div>

        <div id="rightColumn" class="span-5 last">
            <%= yield :rightColumn %>
        </div>


<div id="footer" class="span-24">

  Footer
</div>


</div> <!--  container -->



</body>
</html>
