<!DOCTYPE html>
<html>
<head>
  <title>Elevote</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bodycss">





<div class="container">


<div id="header" class="span-24">
<div id="headerLogo" class="left">
  <%= image_tag "gp1.png" %>
</div>


</div>


<div id="nav" class="span-24 hide">
Navigation

<%= link_to "Precincts", precincts_path %>

<%= link_to "Politicians", politicians_path %>


</div>

    <div data-pjax-container>
        <div id="leftColumn" class="span-5">
            <%= yield :leftColumn %>
        </div>


        <div id="middleColumn" class="span-14">
            <%= yield :middleColumn%>
        </div>

        <div id="rightColumn" class="span-5 last">
            <%= yield :rightColumn %>
        </div>
    </div>

<div id="footer" class="span-24">

  Footer
</div>


</div> <!--  container -->



</body>
</html>
