<!DOCTYPE html>
<% if @official == nil %>
    <html>
<% else %>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="http://www.facebook.com/2008/fbml">
<% end %>


<head>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>





  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28536861-2']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>


  <div id="fb-root">
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=205528859544975";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>


  <% case %>
  <% when @race %>
      <title><%= @race.name %> Election for Durham, North Carolina</title>
      <meta name="description" content="Everything you need to know about candidates in the <%= @race.name%> election in Durham, North Carolina.">

  <% when @official %>
      <title><%= @official.full_name %>'s Candidate Profile</title>
      <meta name="description" content="<%= @official.full_name %>'s Positions, Values, Accomplishments, Goals and Pictures for the Upcoming Election">
  <% else %>
      <title>Election Information for Durham, North Carolina</title>
      <meta name="description" content="Durham, NC's Candidate Positions, Values, Accomplishments, Goals and Pictures for the Upcoming Election">
   <% end %>
  
  
  
  
  
  
  

</head>



<body>

<div id="dark_runner">

</div>


<div id="container">

    <header class="span-29">

        <div id="header_image" class="prepend-3">
            <%= link_to image_tag("logo.png"), races_path %>
        </div>



        <div id="navigation" class="prepend-2">
          <ul>
            <li ><div id="electoral_contests_link" class="navigation_link" onclick="showlayer('submenu')" ><%= link_to "Electoral Contests", "#" %></div>
                <ul id="submenu">
                   <% for contest in Race.all %>
                  <li><%= link_to contest.name, contest %></li><br>
                   <% end %>
                </ul>

            </li>
            <li><div class="navigation_link"><%= link_to "Info for Citizens", "/info/for_citizens" %></div></li>
            <li><div class="navigation_link"><%= link_to "Info for Candidates", "/info/for_candidates" %></div></li>
          </ul>

        </div>



    </header>
  
  
  <section id="content">
      <%= yield :middleColumn %>
  </section>








    <div id="footer" class="span-29">

      <a class="prepend-2" rel="license"
         href="http://creativecommons.org/licenses/by-nc/3.0/"><img
      alt="Creative Commons License" style="border-width:0"
      src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
      This work is licensed under a

      <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial
        3.0 Unported License</a>.

      General Politics, LLC.  2012.
    
    
    </div>


</div> <!--  container -->



</body>
</html>
