<!DOCTYPE html>
<html>
<head>
  <title>Elevote</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bodycss">


<div class="container">


<div id="header" class="span-24">
<div id="headerLeft" class="span-5">
  <%= link_to (image_tag "gp1.png"), root_url %>

  <%=  %>
</div>


<div id="headerMiddle" class="span-14">
  <%= link_to (image_tag "intellivote.jpg") %>

  <%=  %>
</div>



<div id="headerRight" class="span-5 last">
<% if current_official %>
  <div id="Official Sign-out Button" class="button last">


    <%= link_to "Sign-out", signout_path %>
  </div>

     <%= link_to current_official.firstname, current_official %>
<% else %>
<div id="official Log-in  Button" class=" button">
  <%= link_to "Official Log-in", new_session_path %>
</div>
<% end %>




<% if current_official.nil? %>
<div id="official Sign-Up Button" class="button last">
  <%= link_to "Official Sign-up", new_official_path %>
</div>
<% end %>
</div>


</div>



        <div id="leftColumn" class="span-5">
            <%= yield :leftColumn %>
        </div>


        <div id="middleColumn" class="span-14">
            <%= yield :middleColumn%>
        </div>

        <div id="rightColumn" class="span-5 last">
            <%= yield :rightColumn %>
        </div>


<div id="footer" class="span-24">

  Footer
</div>


</div> <!--  container -->



</body>
</html>
