<!DOCTYPE html>
<% if @official == nil %>
    <html>
<% else %>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="http://www.facebook.com/2008/fbml">
<% end %>


<head>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <title>Candidate Positions, Values, Accomplishments, Goals and Pictures for the Upcoming Election</title>
  <meta name="description" content="Candidate Positions, Values, Accomplishments, Goals and Pictures for the Upcoming Election">
</head>


<body>
	<div id="fb-root"></div>

	<%= render 'layouts/header' %>

	<div class="container">
		<section id="content" class="">
			<% if flash[:notice] %>
				<%= render 'layouts/notice' %>
			<% end %>

			<%= yield %>
		</section>

		<%= render 'layouts/footer'   %>
	</div>


</body>
</html>
